body {
    background-size: auto;
}
.heading{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 5px 5px black;
    font-family: 'Akaya Telivigala', cursive;
    background: linear-gradient(to right bottom,rgba(1, 46, 243, 0.767), rgb(73, 32, 185),#714df5,rgb(196, 210, 247));
}
.heading_div{
    float: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    color: black;
}

.copy_right_footer,.heading_div:hover{
    background-color: orange;
}

.resulttag{
    font-size: 20px;
    box-shadow: 5px 5px 5px darkcyan;
    background-color: green;
}
#coppyrightfooter{
    position: fixed;
    bottom: 0;
    background: linear-gradient(to right bottom,rgba(1, 46, 243, 0.767), rgb(73, 32, 185),#714df5,rgb(196, 210, 247));
    text-align: center;
    width: 100%;
    font-size: 17px;
    color: white;
    line-height: 2;
}
canvas 
  {
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
    margin-top: 160px; 
  }